In [9]:
import numpy as np
import pandas as pd

In [10]:
data=pd.read_csv("F:\internship-test2-master\internship-test2-master\input\question-2/main.csv")

In [11]:
data

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

In [70]:
occupation =data['occupation'].unique()

In [71]:
list1=[]
for i in range(len(occupation)):
    list2=[]
    for j in range(len(data['occupation'])):
        if occupation[i] is data['occupation'][j]:
            list2.append(data['age'][j])
    list1.append(list2)

In [72]:
maximum=[]
minimum=[]
for i in list1:
    for j in len(lis1);
    maximum.append(i.max())
    minimum.append(i.min())

SyntaxError: invalid syntax (<ipython-input-72-642669463d11>, line 4)

In [75]:
d1= pd.DataFrame(columns= ['occupation', 'min', 'max'])

In [77]:
d1['occupation']= occupation
d1['min']= minimum
d1['max']= maximum
d1

ValueError: Length of values (0) does not match length of index (21)